@import "../../element-variables";

$transition-time: 0.25s;
$base-font-color: #838EA5;
$header-height: 60px;
$nav-second-height: 45px;
$nav-bg-color: #fff;
$open-nav-bg-color: #F4F5F9;
$menu-font-color: #838EA5;
$active-menu-color: #0F0F28;
$active-submenu-color: $--color-primary;
$breadcrumb-bg-color: transparent;
$title-color: #0F1027;